.row1, .row2 {
  color: black !important;
  padding: 0px !important;
  width: 99.5%;
}

.row1 .card, .row2 .card{
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.row2 .card:hover {
  background-color:transparent;
  border: 1px solid gray;
}
.row1 .card:hover {
  border: 0.4px solid rgba(128, 128, 128, 0.301);
}
.row1 {
  height:90px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap: 5px;
}

.row1 .card{
  border-radius: 5px;
  width: 205px;
  height: 70px !important;
  padding: 2px 0px 5px 0px;
}
.row1 .card .top, .row1 .card .bottom{
  padding: 0 !important;
  width: 100%;
  margin: 0 !important;
}
.row1 .card .top{
  height: 49px;
  background-color: var(--maincolor_extralight);
  border-radius: 50%;
  width: 49px !important;
  margin-left: 20px !important;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 0px solid transparent !important;
  overflow: hidden;
}
.row1 .card .top img{
  width: 100% !important;
  height: 100% !important;
}
.row1 .card .bottom{
  height: 22px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 85px !important;
}


.row2 {
  height: auto !important;
  margin-top: -15px;
  overflow: hidden;
}
.row2 .card {
  border-radius: 5px;
  width: 45%;
  float: left;
  height: 40px !important;
  padding: 3px 4px;
  border: 1px solid rgba(105, 69, 1, 0.274);
  background-color: white;
}
.row2 .card:nth-child(even){
  margin-left: 6.5px;
}
.row2 .card:nth-child(n+3){
  margin-top: 6.5px;
}
.row2 .card article, .row2 .card aside{
  height: 100%;
  max-height: 100%;
}
.row2 .card article{
  width: 40%;
  max-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row2 .card aside{
  width: 55%;
  max-width: 55%;
  text-align: left;
}
.row2 .card aside p{
  margin: 0 !important;
  height: 30% !important;
}
.row2 .card aside p:first-child{
  margin-top: 10% !important;
  display: flex;
  align-items: center;
  text-align: left;
  overflow:hidden;
}

.row2 .card aside p:last-child{
  font-weight: bold;
  margin-top: 3% !important;
}