#footer_inner {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  transition: all 0.2s ease-in-out 0s;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  
  border-top: 1px black !important;
  box-shadow: inset 0 -1px black;
}

#footer_inner i {
  font-size: 16px;
  color: black;
}

#footer_inner .menuItem{
  width: calc(62.5% / 4) !important;
  height: 100%;
  float: left;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 13px;
}
#footer_inner .menuItem.active{
  width: 37% !important;
  background-color: rgb(255, 255, 255);
  height: 64%;
  border-radius: 20px !important;
  text-align: left !important;
  justify-content: left;
  overflow: hidden;
}
#footer_inner .menuItem.active i{
  color: white;
}
#footer_inner .menuItem.active .icon, #footer_inner .menuItem.active .name{
  height: 34px !important;
  float: left;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
#footer_inner .menuItem.active .icon{
  background-color: black;
  width: 34px !important;
  float: left;
  border-radius: 40px !important;
}
#footer_inner .menuItem.active .icon i{
  font-size: 12px !important;
}
#footer_inner .menuItem.active .name{
  float: left;
  margin-left: 2px !important;
}
#footer_inner .menuItem.active a{
  color: #00050a;
}
#footer_inner .menuItem:hover {
  cursor: pointer;
}
#footer_inner .menuItem:hover i{
  color: white !important;
}
